
/* SMALL DEVICES */
@media screen and (min-width: 480px) {
   
    .container {
        max-width: 500px;
        margin: 0 auto;
    }

    .col-1-sm{
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-2-sm{
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-3-sm{
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-4-sm{
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-5-sm{
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-6-sm{
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-7-sm{
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-8-sm{
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-9-sm{
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-10-sm{
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    .col-11-sm{
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    .col-12-sm{
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
    
    
    /*Offset columns settings */
    
    .col-1-offset-sm{
        margin-left: calc((100% / 12) * 1);
    
    }
    
    .col-2-offset-sm{
        margin-left: calc((100% / 12) * 2);
    
    }
    
    .col-3-offset-sm{
        margin-left: calc((100% / 12) * 3);
    
    }
    
    .col-4-offset-sm{
        margin-left: calc((100% / 12) * 4);
    
    }
    
    .col-5-offset-sm{
        margin-left: calc((100% / 12) * 5);
    
    }
    
    .col-6-offset-sm{
        margin-left: calc((100% / 12) * 6);
    
    }
    
    .col-7-offset-sm{
        margin-left: calc((100% / 12) * 7);
    
    }
    
    .col-8-offset-sm{
        margin-left: calc((100% / 12) * 8);
    
    }
    
    .col-9-offset-sn{
        margin-left: calc((100% / 12) * 9);
    
    }
    
    .col-10-offset-sm{
        margin-left: calc((100% / 12) * 10);
    }
    
    .col-11-offset-sm{
        margin-left: calc((100% / 12) * 11);
        
    }
    
    .col-12-offset-sm{
        margin-left: calc((100% / 12) * 12);
    }
    
}

/* MID DEVICES */
@media screen and (min-width: 768px) {

    .container {
        max-width: 700px;
        margin: 0 auto;
    }

    .col-1-md{
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-2-md{
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-3-md{
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-4-md{
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-5-md{
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-6-md{
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-7-md{
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-8-md{
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-9-md{
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-10-md{
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    .col-11-md{
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    .col-12-md{
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
    
    
    /*Offset columns settings */
    
    .col-1-offset-md{
        margin-left: calc((100% / 12) * 1);
    
    }
    
    .col-2-offset-md{
        margin-left: calc((100% / 12) * 2);
    
    }
    
    .col-3-offset-md{
        margin-left: calc((100% / 12) * 3);
    
    }
    
    .col-4-offset-md{
        margin-left: calc((100% / 12) * 4);
    
    }
    
    .col-5-offset-md{
        margin-left: calc((100% / 12) * 5);
    
    }
    
    .col-6-offset-md{
        margin-left: calc((100% / 12) * 6);
    
    }
    
    .col-7-offset-md{
        margin-left: calc((100% / 12) * 7);
    
    }
    
    .col-8-offset-md{
        margin-left: calc((100% / 12) * 8);
    
    }
    
    .col-9-offset-md{
        margin-left: calc((100% / 12) * 9);
    
    }
    
    .col-10-offset-md{
        margin-left: calc((100% / 12) * 10);
    }
    
    .col-11-offset-md{
        margin-left: calc((100% / 12) * 11);
        
    }
    
    .col-12-offset-md{
        margin-left: calc((100% / 12) * 12);
    }
    
}

/* LARGE DEVICES */
@media screen and (min-width: 992px) {

    .container {
        max-width: 950px;
        margin: 0 auto;
    }

    .col-1-lg{
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-2-lg{
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-3-lg{
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-4-lg{
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-5-lg{
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-6-lg{
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-7-lg{
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-8-lg{
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-9-lg{
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-10-lg{
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    .col-11-lg{
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    .col-12-lg{
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
    
    
    /*Offset columns settings */
    
    .col-1-offset-lg{
        margin-left: calc((100% / 12) * 1);
    
    }
    
    .col-2-offset-lg{
        margin-left: calc((100% / 12) * 2);
    
    }
    
    .col-3-offset-lg{
        margin-left: calc((100% / 12) * 3);
    
    }
    
    .col-4-offset-lg{
        margin-left: calc((100% / 12) * 4);
    
    }
    
    .col-5-offset-lg{
        margin-left: calc((100% / 12) * 5);
    
    }
    
    .col-6-offset-lg{
        margin-left: calc((100% / 12) * 6);
    
    }
    
    .col-7-offset-lg{
        margin-left: calc((100% / 12) * 7);
    
    }
    
    .col-8-offset-lg{
        margin-left: calc((100% / 12) * 8);
    
    }
    
    .col-9-offset-lg{
        margin-left: calc((100% / 12) * 9);
    
    }
    
    .col-10-offset-lg{
        margin-left: calc((100% / 12) * 10);
    }
    
    .col-11-offset-lg{
        margin-left: calc((100% / 12) * 11);
        
    }
    
    .col-12-offset-lg{
        margin-left: calc((100% / 12) * 12);
    }
    
}